<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Portafolio</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css">
	<%= stylesheet_link_tag "application", "normalize",media: "all" %>


</head>
<body>
	<section class="col-md-2 col-sm-3 col-xs-4 navegacion">
		<figure>
			<img class="img-responsive img-circle" src="http://i62.tinypic.com/2a82kn7.jpg" alt="Perfil">
		</figure>
		<nav class="navbar">
		    <ul id="nav">
		        <li><a href="#perfil" class="icon-profile selected"><span>Perfil</span></a></li>
		     	<li><a href="#proyectos" class="icon-briefcase"><span>Proyectos</span></a></li>
		     	<li><a href="#contacto" class="icon-phone"><span>Contacto</span></a></li>
		    </ul>
		</nav>
	</section>

	<section class="col-md-10 col-sm-9 col-xs-8 contenido">

		<article id="perfil">
			<h2>Hello, I am <strong>Juan Garces</strong><br>
				Programmer .NET and Web Developer.</h2>			
			<p class="parrafo">I have experience as programmer and web developer. I have a love of clean, elegant styling. I have a reasonable grasp of using C#, ASP.NET, Ruby on Rails, HTML5, CSS3.</p>
			<h3 class="titulo">Personal Info</h3>
			<section class="parrafo">
				<div class="row">
					<article class="col-md-4">
						<p>NAME</p>
						<h5>Juan A. Garces P.</h5>
					</article>
					<article class="col-md-4">
						<p>RUT</p>
						<h5>15.895.199-k</h5>
					</article>
					<article class="col-md-4">
						<p>LOCATION</p>
						<h5>Santiago - Chile</h5>
					</article>
				</div>
				<div class="row">
					<article class="col-md-4">
						<p>BORN</p>
						<h5>24-05-1984</h5>
					</article>
					<article class="col-md-4">
						<p>CELLPHONE</p>
						<h5>97575757</h5>
					</article>
					<article class="col-md-4">
						<p>HOBBIES</p>
						<h5>Programing, Movies, Television, Games</h5>
					</article>
				</div>
			</section>
			<section class="parrafo">
				<div class="row">
					<article class="col-md-12">
						<h3 class="titulo">Skills</h3>
						<div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
					</article>					
				</div>
			</section>
		</article>
		<article id="proyectos">
			<h3 class="titulo">Proyectos</h3>
			<p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<article class="galeria">
				<a href="https://d13yacurqjgara.cloudfront.net/users/428659/screenshots/1762028/social_dashboard_cover.jpg" class="fancybox" rel="gallery" title="Demo 1"><img src="https://d13yacurqjgara.cloudfront.net/users/428659/screenshots/1762028/social_dashboard_cover.jpg" /></a>
				<a href="https://d13yacurqjgara.cloudfront.net/users/14190/screenshots/1095178/dribbble_yak-1.png" class="fancybox" rel="gallery" title="Demo 2"><img src="https://d13yacurqjgara.cloudfront.net/users/14190/screenshots/1095178/dribbble_yak-1.png" /></a>
				<a href="https://d13yacurqjgara.cloudfront.net/users/96387/screenshots/1309461/dribbble2.png" class="fancybox" rel="gallery" title="Demo 3"><img src="https://d13yacurqjgara.cloudfront.net/users/96387/screenshots/1309461/dribbble2.png" /></a>
				<a href="https://d13yacurqjgara.cloudfront.net/users/96387/screenshots/1582382/dribbble.png" class="fancybox" rel="gallery" title="Demo 4"><img src="https://d13yacurqjgara.cloudfront.net/users/96387/screenshots/1582382/dribbble.png" /></a>
				<a href="https://d13yacurqjgara.cloudfront.net/users/14268/screenshots/1326829/heatwatch.png" class="fancybox" rel="gallery" title="Demo 5"><img src="https://d13yacurqjgara.cloudfront.net/users/14268/screenshots/1326829/heatwatch.png" /></a>
				<a href="https://d13yacurqjgara.cloudfront.net/users/44239/screenshots/825856/bobo_profile_x2.jpg" class="fancybox" rel="gallery" title="Demo 6"><img src="https://d13yacurqjgara.cloudfront.net/users/44239/screenshots/825856/bobo_profile_x2.jpg" /></a>
			</article>

		</article>

		<article id="contacto">
			<h3 class="titulo">Contacto</h3>
			<div class="iconos"><a href="https://github.com/janocl" target="_black"><img src="http://www.iconsdb.com/icons/download/black/github-11-128.png" style="width:64px;height:64px;border:0"><p>GitHub</p></a></div>
			<div class="iconos"><a href="http://cl.linkedin.com/pub/juan-garces/a2/462/9b1/" target="_black"><img src="http://www.iconsdb.com/icons/download/black/linkedin-3-128.png" style="width:64px;height:64px;border:0"><p>Linkedin</p></a></div>
			<div class="iconos"><a href="https://twitter.com/JaN0cL" target="_black"><img src="http://www.iconsdb.com/icons/download/black/twitter-128.png" style="width:64px;height:64px;border:0"><p>Twitter</p></a></div>
			<div class="iconos"><a href="mailto:juan.garces@outlook.com" target="_black"><img src="http://www.iconsdb.com/icons/download/black/inbox-8-128.png" style="width:64px;height:64px;border:0"><p>Email</p></a></div>
		</article>

		<footer class="foot">
			<h5>Developer @JaN0cL</h5>
			<h5>Powered by ROR - HTML5 - CSS3</h5>
		</footer>

	</section>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//davist11.github.io/jQuery-One-Page-Nav/jquery.nav.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script>
        	$(document).ready(function() {
        		$('.fancybox').fancybox();
						$('#nav').onePageNav({
							changeHash: true
						});

						$('#container').highcharts({
					        chart: {type: 'bar'},
					        title: {text: 'Skills', align:'center'},
					        xAxis: {categories: ['C#', 'Ruby on Rails', 'HTML5', 'CSS3'],title: {text: null}},
					        yAxis: {min: 0,title: {text: 'Population (millions)',align: 'center'},labels: {overflow: 'justify'}},
					        tooltip: {valueSuffix: ' millions'},
					        plotOptions: {bar: {dataLabels: {enabled: true}}},
					        credits: {enabled: false},
					        series: [{ data: [350, 55, 220, 180]}]
					    });

			});
    </script>
</body>
</html>
