<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Portafolio</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<%= stylesheet_link_tag "application", media: "all" %>

</head>
<body>
	<section class="col-md-2 col-sm-3 col-xs-4 navegacion">
		<figure>
			<img src="http://i62.tinypic.com/2a82kn7.jpg" alt="Perfil">
			<!-- <p><a href="https://twitter.com/" target="_black">@JaN0cL</a></p> -->
		</figure>
		<nav class="navbar">
		    <ul id="nav">
		        <li><a href="#perfil" class="icon-profile current"><span>Perfil</span></a></li><!--
		     --><li><a href="#proyectos" class="icon-briefcase"><span>Proyectos</span></a></li><!--
		     --><li><a href="#contacto" class="icon-phone"><span>Contacto</span></a></li>
		    </ul>
		</nav>
	</section>

	<section class="col-md-10 col-sm-9 col-xs-8 contenido">

		<article id="perfil">
			<h3>Hello, I am <strong>Juan Garces</strong><br>
				Programmer .NET and Web Developer.</h3>			
			<p class="parrafo">I have experience as programmer and web developer. I have a love of clean, elegant styling. I have a reasonable grasp of using C#, ASP.NET, Ruby on Rails, HTML5, CSS3.</p>
			<h3 class="titulo">Personal Info</h3>
			<section class="parrafo">
				<div>
					<article>
						<h4>NAME</h4>
						<h5>Juan Alejandro Garces Portales</h5>
					</article>
					<article>
						<h4>RUT</h4>
						<h5>15.895.198-3</h5>
					</article>
					<article>
						<h4>LOCATION</h4>
						<h5>Santiago - Chile</h5>
					</article>
				</div>
				<div>
					<article>
						<h4>BORN</h4>
						<h5>24-05-1984</h5>
					</article>
					<article>
						<h4>CELLPHONE</h4>
						<h5>96469369</h5>
					</article>
					<article>
						<h4>HOBBIES</h4>
						<h5>Programing, Movies, Television, Games</h5>
					</article>
				</div>
			</section>
		</article>
		<article id="proyectos">
			<h3 class="titulo">Proyectos</h3>
			<p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</article>

		<article id="contacto">
			<h3 class="titulo">Contacto</h3>
			<div class="iconos"><a href="https://github.com/janocl" target="_black"><img src="http://www.iconsdb.com/icons/download/black/github-11-128.png" style="width:64px;height:64px;border:0"><p>GitHub</p></a></div>
			<div class="iconos"><a href="http://cl.linkedin.com/pub/juan-garces/a2/462/9b1/" target="_black"><img src="http://www.iconsdb.com/icons/download/black/linkedin-3-128.png" style="width:64px;height:64px;border:0"><p>Linkedin</p></a></div>
			<div class="iconos"><a href="https://twitter.com/JaN0cL" target="_black"><img src="http://www.iconsdb.com/icons/download/black/twitter-128.png" style="width:64px;height:64px;border:0"><p>Twitter</p></a></div>
			<div class="iconos"><a href="mailto:juan.garces@outlook.com" target="_black"><img src="http://www.iconsdb.com/icons/download/black/inbox-8-128.png" style="width:64px;height:64px;border:0"><p>Email</p></a></div>
		</article>

		<footer class="foot">
			<h5>Developer @JaN0cL</h5>
			<h5>Powered by ROR - HTML5 - CSS3</h5>
		</footer>

	</section>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//davist11.github.io/jQuery-One-Page-Nav/jquery.nav.js"></script>
        <script>
        	$(document).ready(function() {
			$('#nav').onePageNav({
				changeHash: true
			});
		});
        </script>

</body>
</html>
