<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Portafolio</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<%= stylesheet_link_tag "application", media: "all" %>

</head>
<body data-spy="scroll" data-target=".contenido">
	<section class="col-md-2 col-sm-3 col-xs-4 navegacion">
		<figure>
			<img src="http://s8.postimg.org/6x5huujk5/profile.jpg" alt="Perfil">
			<p><a href="https://twitter.com/" target="_black">@JaN0cL</a></p>		
		</figure>
		<nav class="navbar">
		    <ul>
		        <li><a href="#perfil" class="icon-profile"><span>Perfil</span></a></li><!--
		     --><li><a href="#proyectos" class="icon-briefcase"><span>Proyectos</span></a></li><!--
		     --><li><a href="#contacto" class="icon-phone"><span>Contacto</span></a></li>
		    </ul>
		</nav>
	</section>

	<section class="col-md-10 col-sm-9 col-xs-8 contenido">

		<article id="perfil">
			<h3>Perfil</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</article>
		<article id="proyectos">
			<h3>Proyectos</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</article>

		<article id="contacto">
			<h3>Contacto</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</article>

		<footer class="foot">
			<p>Developer @JaN0cL</p>
			<p>Powered by HTML5 & CSS3</p>
		</footer>

	</section>


</body>
</html>
