<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Portafolio</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<%= stylesheet_link_tag "application", media: "all" %>

</head>
<body data-spy="scroll" data-target=".contenido">
	<section class="col-md-2 navegacion">
		<figure>
			<img src="http://s8.postimg.org/6x5huujk5/profile.jpg" alt="Perfil">
			<p><a href="https://twitter.com/" target="_black">@JaN0cL</a></p>		
		</figure>
		<nav class="navbar">
		    <ul>
		        <li><a href="#perfil" class="icon-profile"><span>Perfil</span></a></li><!--
		     --><li><a href="#proyectos" class="icon-briefcase"><span>Proyectos</span></a></li><!--
		     --><li><a href="#contacto" class="icon-phone"><span>Contacto</span></a></li>
		    </ul>
		</nav>
	</section>

	<section class="col-md-10 contenido">

		<article id="perfil">
			<h3>Perfil</h3>
		</article>
		<article id="proyectos">
			<h3>Proyectos</h3>
		</article>

		<article id="contacto">
			<h3>Contacto</h3>
		</article>

		<footer class="foot">
			<p>Developer @JaN0cL - 2014 -</p>
		</footer>

	</section>


</body>
</html>
