@import "fonts-icomoon";

.col-md-2{
	padding-left: 0em;
	padding-right: 0em;
	/*Fija el panel izquierdo*/
	position: fixed;
}

.col-md-10{
	padding-left: 0em;
	padding-right: 0em;
	/*Se puede alinear el panel tambien con float*/
	/*float: right;*/

	/*Alinea el panel a la derecha*/
	position: absolute;
	right: 0px;
	top: 0px;
	background: #EEEEEE;
	height: 170em;
	color: #22A7F0;

}

.navegacion{
	background: #2E2C43;
	padding-bottom: 100%;

}

.navegacion figure{
	margin: 0px; 
	padding: 0px;
	text-align: center;
	padding: 2.5em 0 2em 0em;

}

.navegacion figure img{
	border-radius: 50%;
	border: 6px solid #FF3951;
	width: 8em;
}

.navegacion figure a{
	text-decoration: none;
	margin: 2em 0em;
}

.navegacion .navbar ul{
	list-style: none;
	padding: 0px;
}
.navegacion .navbar ul li{
	width: 100%;
}

.navegacion .navbar ul li a{
	text-decoration: none;
	display: block;
	padding: 1em 0em;
	color: #2F89C1;
}
.navegacion .navbar ul li a:hover{
	font-weight: bold;
	color: white;
	background: #22A7F0;
	/*border-radius: 0.5em;*/

}

.navegacion .navbar ul li a span{
	font-weight: bold;
	font-family: Helvetica;
	font-size: 14px;

}

.contenido .foot p{
	text-align: center;
	background: #22A7F0;
	margin: 0px;
	padding: 6em 0em;
	color: white;
}

#perfil{

}

#proyectos{
	margin: 10em 0em;
}

#contacto{
	margin: 10em 0em;
}

#perfil, #proyectos, #contacto{
	height: 50em;
	font-weight: bold;
	background: #D2D7D3;
	padding: 2em 3em

}
