@import url("http://fonts.googleapis.com/css?family=Roboto:100");
@font-face {
	font-family: 'Icomoon';
	src:url('icomoon.eot');
	src:url('icomoon.eot?#iefix') format('embedded-opentype'),
		url('icomoon.woff') format('woff'),
		url('icomoon.ttf') format('truetype'),
		url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
	content: "\e600";
	padding-left: 1.5em;
	padding-right: 2em;
	font-size: 18px;

}
.icon-profile:before {
	content: "\e601";
	padding-left: 1.5em;
	padding-right: 2em;
	font-size: 18px;
}
.icon-briefcase:before {
	content: "\e602";
	padding-left: 1.5em;
	padding-right: 2em;
	font-size: 18px;
}

a{
	text-decoration: none;
	margin: .5em 0em;
	display: block;
	padding: 1em 0em;
	color: #2F89C1;
	font-size: 14px;
}

a:hover{
	text-decoration: none;
	color: white;
	transition: .3s;
	background: #bdc3c7;
}

a:before{
	transition: all .1s ease-in-out;
}

body{
	font-size: 16px;
	font-family: "Roboto";
	font-weight: bold;
	position: relative;
	color: #606060;

}
ul{
	list-style: none;
	padding: 0px;
}
ul li{
	width: 100%;
}

.col-md-2{
	padding-left: 0em;
	padding-right: 0em;
	/*Fija el panel izquierdo*/
	position: fixed;
}

.col-md-10{
	padding-left: 0em;
	padding-right: 0em;
	position: absolute;
	right: 0px;
	top: 0px;
	background: #6C7A89;
	color: #333;
	display: block;


}
.navbar{
	text-align: left;
}

.navegacion{
	background: #2E2C43;
	padding-bottom: 100%;

}

.navegacion figure{
	margin: 0px; 
	padding: 0px;
	text-align: center;
	padding: 2.5em 0 2em 0em;

}

.navegacion figure img{
	/*border-radius: 50%;*/
	border: 6px solid #E3313B;
	width: 7em;
	text-align: center;
}
.navegacion figure .img-responsive{
	display: inline-block;
}

.navegacion .navbar{
	padding: 1.5em 0em;
}

.navegacion .navbar ul li a:hover{
		background: #356FC6;
}

.navegacion .navbar ul li a span{
	font-weight: bold;

}

.contenido #contacto .iconos{
	display: inline-block;
	text-align: center;
	margin: 4em 5em;
	padding-top: 2em;
}

.contenido .parrafo{
	padding: 1em 0em;
}

.contenido #perfil article{
	padding: 0em 1em;
	display: inline-block;
	text-align: left;

}

.contenido #perfil .titulo{
	padding-top: 1em;
}

.contenido .titulo{
	padding-bottom: .5em;
	border-bottom: .05em solid rgba(23,147,239,100);
}

.contenido .galeria a{
	display: inline-block;
	text-align: center;
	padding: 1.3em 1.3em;
	margin: 0em;
}

.contenido .galeria a:hover{
	transition: 1s;
}

.contenido .galeria img{
	width: 20em;
}

.contenido .foot{
	text-align: center;
	background: #2E2C43;
	margin: 0px;
	padding: 2em 0em;
	color: white;
}
.fancybox-next{
	opacity: 0.2;
}

.fancybox-prev{
	opacity: 0.2;
}

#perfil{
	display: block;
	text-align: left;
}

#proyectos{
	display: block;
	text-align: left;
	vertical-align: top;
}


#contacto{
	display: block;
	text-align: left;
	vertical-align: top;
}

#perfil, #proyectos, #contacto{
	height: 60em;
	background: #fff;
	padding: 2em 3em;

}

@media (max-width: 767px){
	.navegacion figure p a{
		color: white;
	}
/*	.contenido{
		display: block;
	}

	.navegacion{
		display: block;
	}*/


}

